{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="form-group">
                <label class="col-sm-4 control-label">{{ field.label_tag }}</label>
                <div class="col-sm-8">
                    <p>{{ field }}</p>
                </div>
                <p>{{ field.errors }}</p>
            </div>


        {% endfor %}
{#        <div class="form-group">#}
{#        <label for="{{ field.id_for_label }}">{{ form.make.label_tag }}</label>#}
{#        {{ form.make.label_tag }}#}
{#        {{ form.make}}#}

{#        {% for field in form.visible_fields %}#}
{##}
{#            {% if form.is_bound %}#}
{#                {% if field.errors %}#}
{#                    <div class="form-group has-error">#}
{#                    <p>Id:</p>#}
{#                    <p>{{ field.id_for_label }}</p>#}
{#                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                    <input class="form-control" id="{{ field.id_for_label }}" maxlength="30"#}
{#                           name="{{ field.html_name }}" placeholder="{{ field.label }}" type="{{ field.type }}"#}
{#                           aria-describedby="{{ field.id_for_label }}">#}
{#                    <span id="{{ field.id_for_label }}" class="help-block">{{ field.errors }}</span>#}
{#                    </div>#}
{##}
{#                {% else %}#}
{#                    <div class="form-group has-success">#}
{#                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                    <input class="form-control" id="{{ field.id_for_label }}" maxlength="30"#}
{#                           name="{{ field.html_name }}" value="{{ field.value }}" type="text"/>#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% else %}#}
{#                <div class="form-group">#}
{#                <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                <input class="form-control" id="{{ field.id_for_label }}" maxlength="30"#}
{#                       name="{{ field.html_name }}" placeholder="{{ field.label }}" type="text"/>#}
{#                </div>#}
{#            {% endif %}#}
{##}
{#        {% endfor %}#}


        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
{% endblock %}

{% block customscript %}{% endblock %}