{% extends 'base.html' %}
{% load static %}


{% block content %}

    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'homepage' %}">Automobile Market</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
{#                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
{#                    <li><a href="#">Link</a></li>#}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search by manufacturer">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Viewing as {{ viewing_as }}</a></li>

                    {% if login_status == True %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Your cockpit<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Account</a></li>
                                <li><a href="#">Your offers</a></li>
                                <li><a href="{% url 'new_offer' %}">Create offer</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'logout' %}">Log out</a></li>
                                {% if request.user.is_superuser %}
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Administrator section</li>
                                    <li><a href="admin/">Manage</a></li>
                                {% endif %}


                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Log in <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'login' %}">Authorise</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'signup' %}">Not our customer yet?<br>Sign up!</a></li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
    </nav>

    <div class="row" style="padding-top: 70px">
        <div class="col-md-2">Scroll follower category</div>
        <div class="col-md-7">
            {% for offer in offers %}

                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">Make</span>
                        {{ offer.make }}
                    </li>
                    <li class="list-group-item">
                        <span class="badge">Model</span>
                        {{ offer.model }}
                    </li>
                    <li class="list-group-item">
                        <span class="badge">Engine</span>
                        {{ offer.engine }}
                    </li>
                    <li class="list-group-item">
                        <span class="badge">Type</span>
                        {{ offer.body_type }}
                    </li>
                </ul>

            {% endfor %}
        </div>
        <div class="col-md-3">Scroll follower ads</div>
    </div>



{% endblock %}